{% extends 'base.html' %}

{% block title %}CMI | Usuarios{% endblock %}
{% block title_block %}Usuarios{% endblock %}
{% block main %}
  <section class="content">
  <div class="container-fluid">
  <!-- Main row -->
  <div class="row">
      <section class="u-clearfix u-image u-section-1" id="sec-2aab" data-image-width="1280" data-image-height="792">
      <div style="width: 100%;text-align: center;">
      <form method="GET">
          <label> Usuarios a mostrar</label>
      <input type="number" name="amount" value="{{amount}}" required><br>
      <label>Mostrar usuarios que: </label>
      <select name="limit" required>
      <option value="1" {%if limit == 1 %} selected {%endif%}>han pulsado el 50% en spam</option>
      <option value="0" {%if limit == 0 %} selected {%endif%}>han pulsado menos del 50% en spam</option>
      </select> 
      <br>
      <input type="submit" name="submit">


      </form>


      </div>
      <div id="vis" style="width: 100%;text-align: center;"></div>
      <script type="text/javascript">
          var par = {{graphJSON | safe}};
          var opt = {"renderer": "canvas", "actions": false};  /* Options for the embedding */
          vegaEmbed("#vis", par, opt);
      </script>

      <a href="/pdf?limit={{limit}}&users=1"><button>Generar pdf </button></a>
      {% autoescape off %}
      {{ click }}
      {% endautoescape %}

  </section>
{% endblock %}